body {
  margin: 0px;
}

header {
  background-color: #F5A281;
  width: 100%;
  height: 70px;
}

ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  justify-content: flex-end; 
  margin: 0px; 
}

li {
  margin: 20px;
  font-family: Arial;
}

#title {
  margin-right: auto;
}