body {
  margin: 10px;
} 


header {
  
  width: 100%;
  height: 70px;
}

ul {
  display: flex;
  color: whitesmoke;
  list-style-type: none;
  font-size: 20px;
  justify-content: flex-end; 
  margin: 0px; 
}

li {
  margin: 20px;
  font-family: Arial;
}

#title {
  margin-right: auto;
}

.pxl-header {
  line-height: 1.2;
  font-weight: 400;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-size: 24px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  .section_tittle p {
    margin-bottom: 10px;
  }
}


#sticky-footer {
  flex-shrink: none;
}
