<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Gender Pay Gap</title>

  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <!-- script data-main="scripts/main" src="static/js/require.js"></script-->

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>



  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

  <!--D3 cdn-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="module" src="static/js/data.js"></script>
  <script src="static/js/app.js"></script>
  <script src="https://gmousse.github.io/dataframe-js/dist/dataframe.js"></script>

  <script type="module">
    import { yearSelection, buildDtaSet, buildCharts, payYearSelection} from '../static/js/data.js'
    console.log("Inside index script")
    document.querySelector('#selDataset').addEventListener('change', yearSelection)
    document.querySelector('#selYear').addEventListener('change',  payYearSelection)
    
  </script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>

<body>
  <!--       
      <div id="scroll-animate">
        <div id="scroll-animate-main">
          <div class="wrapper-parallax"> -->
  <div class="container-fluid">


    <!-- ############################## -->

    <div class="content" style="background-color: #6E7DE5">
      <main class="main">

        <div class="hero hero--left hero--top ">

          <div class="hero__desktop-content">
            <div class="hero__foreground-container">

              <div class="col-12 col-md-12 hero__content-col" style='background-color:#6E7DE5'>

                <nav class="navbar navbar-expand-lg navbar-light">

                  <a id="title" style="font-style: italic ;font-size: 50px;color: whitesmoke ;padding-top: 100px"
                    class="navbar-brand" href="#">Gender Gap
                    Visualization Tool </a>
                </nav>

              </div>
            </div>

          </div>
        </div>

        <div class="hero__background-container">
          <div class="hero__background-crop-container">
            <picture>
              <source data-id="mobile-image" media="(max-width: 576px)"
                srcset="https://www.payscale.com/data/wp-content/uploads/sites/8/2019/03/GPG_MobileImage.svg">
              <source data-id="tablet-image" media="(max-width: 768px)"
                srcset="https://www.payscale.com/data/wp-content/uploads/sites/8/2019/03/GenderPayGapPage.svg">
              <source data-id="desktop-image" media="(max-width: 1024px)"
                srcset="https://www.payscale.com/data/wp-content/uploads/sites/8/2019/03/GenderPayGapPage.svg">
              <source data-id="desktop-image" media="(max-width: 1440px)"
                srcset="https://www.payscale.com/data/wp-content/uploads/sites/8/2019/03/GenderPayGapPage.svg">
              <source data-id="desktop-image" media="(max-width: 1680px)"
                srcset="https://www.payscale.com/data/wp-content/uploads/sites/8/2019/03/GenderPayGapPage.svg">
              <source data-id="desktop-image" media="(max-width: 1920px)"
                srcset="https://www.payscale.com/data/wp-content/uploads/sites/8/2019/03/GenderPayGapPage.svg">
              <img alt="" src="https://www.payscale.com/data/wp-content/uploads/sites/8/2019/03/GenderPayGapPage.svg">
            </picture>
          </div>
        </div>
    </div>
    </main>
    <!-- ################################## -->

    <div class="container-fluid margin-bottom-lg pxl-padding-top-xl pxl-hidden-md-down"
      style="border-bottom: solid 2px #e5e5ea; font-size: 16px; color: #3b3b3b; text-align: center; padding-bottom: 16px; line-height: 18px; position: sticky; top: 0; z-index: 200; background: white; box-shadow: 0px 4px 3px -3px grey;">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-2" style="padding-top: 8px;"><a class="subnav" href="#pay_gap_overall">Overall Gender<br>
              Pay Gap</a></div>
          <div class="col-md-2" style="padding-top: 8px;"><a class="subnav" href="#pay_gap_by_race">Gender Pay Gap<br>
              by Race</a></div>
          <div class="col-md-2" style="padding-top: 8px;"><a class="subnav" href="#pay_gap_by_education">Pay Gap<br>
              by Education</a></div>
          <div class="col-md-2" style="padding-top: 8px;"><a class="subnav" href="#pay_gap_by_country">Pay Gap<br>
              By Country</a></div>
        </div>
      </div>
    </div>
    <br>
    <div class="container">

      
        <div class="col-md-12">
          <h2 class="  " style="color: #6e7ce6;">
            EXECUTIVE SUMMARY
          </h2>
          <p class="">
            We have started analysing the data to find the gender pay gap, the difference between the earnings of women and men
            has
            shrunk over the years. But significant disparity in how men and women are paid still remains. The uncontrolled gender
            pay
            gap, which takes the ratio of median earnings of all women to all men, decreased by $0.05 since 2015.
            However, women still make only $0.79 for every dollar men make in 2019.
          </p>
          <br><br><br>
        </div>

        <div  class="col-md-12">
            <div>
              <h2 id="pay_gap_overall" style="color:cadetblue; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
                GENDER PAY GAP OVERALL
      
              </h2>
      
              <p>
                <br>
                The Simple Truth about the Gender Pay Gap
                The gender pay gap is the gap between what men and women are paid.
                <br>
                Most commonly, it refers to the median annual pay of all women who work full time and year-round,
                compared to the pay of a similar cohort of men. Other estimates of the gender pay gap are based on weekly
                or
                hourly earnings, or are specific to a particular group of women.
              </p>
              <br>
              <p class="title-style">Based on the dataset on found <a href="https://www.bls.gov/data/">here.</a></p>
              <div class="container">
                <div class="row">
                  <div class="col" id="byracepie"></div>
                </div>
                    <div class="row"> 
                        <h2 id = "womenEarns" class="pxl-margin-bottom-md" style="color: #4a4848;"></h2><br><br><br>
                    </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div>
              <h2 id="pay_gap_by_country" style="color:cadetblue; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
                Pay Gap by Country
      
              </h2>
      
              <p>
                <br>
                The Simple Truth about the Gender Pay Gap
                The gender pay gap is the gap between what men and women are paid.
                <br>
                Most commonly, it refers to the median annual pay of all women who work full time and year-round,
                compared to the pay of a similar cohort of men. Other estimates of the gender pay gap are based on weekly
                or
                hourly earnings, or are specific to a particular group of women.
              </p>
              <br>
              <p class="title-style">Based on the dataset on found <a href="https://www.bls.gov/data/">here.</a></p>
              <br><br><br>
            </div>
          </div>
      
          <div  class="col-md-12">
            <div>
              <h2 id="pay_gap_by_race" style="color:cadetblue; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
                Gender Pay Gap by Race
      
              </h2>
      
              <p>
                <br>
                The Simple Truth about the Gender Pay Gap
                The gender pay gap is the gap between what men and women are paid.
                <br>
                Most commonly, it refers to the median annual pay of all women who work full time and year-round,
                compared to the pay of a similar cohort of men. Other estimates of the gender pay gap are based on weekly
                or
                hourly earnings, or are specific to a particular group of women.
              </p>
              <br>
              <p class="title-style">Based on the dataset on found <a href="https://www.bls.gov/data/">here.</a></p>
              
              <div class="container">
                <div class="row">
                  <div>
                    <h3 class="title-style">Select a Year:</h3>
                    <select id="selDataset"> </select>
                  </div>
                  <div class="col" id="byracebar"></div>
                </div>
                
              </div>
              <div  class="col-md-12">
                <div>
                  <h2 id="pay_gap_by_education" style="color:cadetblue; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
                    Gender Pay Gap by Education
      
                  </h2>
      
                  <p>
                    <br>
                    The Simple Truth about the Gender Pay Gap
                    The gender pay gap is the gap between what men and women are paid.
                    <br>
                    Most commonly, it refers to the median annual pay of all women who work full time and year-round,
                    compared to the pay of a similar cohort of men. Other estimates of the gender pay gap are based on weekly
                    or
                    hourly earnings, or are specific to a particular group of women.
                  </p>
                  <br>
                  <p class="title-style">Based on the dataset on found <a href="https://www.bls.gov/data/">here.</a></p>
                </div>
                <div class="row">
                  <div id="graph_2016"></div>
                  <div id="graph_2017"></div>
                  <div id="graph_2018"></div>
                </div>
                <div class="row">
                  <br><br><br></div>
              </div>
            </div>
      
      
          </div>
      
    </div>



    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; Gender Pay Gap </small>
      </div>
    </footer>
  </div>


  <!-- <script src="node_modules/chart.js/Chart.min.js"></script>
  <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script> -->

</body>

</html>